button {
    width: 122px;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.orange--sm {
    background-color: rgb(250, 129, 0);
    color: white;
}

.orange--sm:active {
    background-color: rgb(205, 108, 4);
}

.orange--lg {
    background-color: rgb(250, 129, 0);
    color: white;
    width: 200px;
}

.orange--lg:active {
    background-color: rgb(205, 108, 4);
}

.grey--sm {
    background-color: rgb(122, 122, 122);
    color: white;
}

.grey--sm:active {
    background-color: rgb(104, 104, 104);
}

.grey--lg {
    background-color: rgb(122, 122, 122);
    color: white;
    width: 200px;
}

.grey--lg:active {
    background-color: rgb(104, 104, 104);
}